.navbar {
  background-color: var(--secondary-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar-logo {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-logo:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--secondary-color);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    margin: 1.5rem 0;
  }
} 